<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.federo.accounts.createaccounttest"/>
      <class name="com.federo.leads.createleadtest"/>
      <class name="com.federo.reports.createreporttest"/>
      <class name="com.federo.invoices.createinvoicetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
